@model IEnumerable<StockTradingSimulationWebClient.Models.PositionViewModel>

@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h3>Welcome, @User.Identity.Name!</h3>
<h4>Balance: <b>$@ViewBag.Balance</b></h4>

<!-- TradingView Widget BEGIN -->
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
    new TradingView.widget({
        "width": 980,
        "height": 610,
        "symbol": "NASDAQ:AAPL",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "Light",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "allow_symbol_change": true,
        "hideideas": true
    });
</script>
<!-- TradingView Widget END -->

<table class="w3-table w3-bordered w3-striped w3-border test w3-hoverable">
    <tbody>
    <tr class="w3-green">
        <th>Name</th>
        <th>Qty.</th>
        <th>Type</th>
        <th>Open</th>
        <th>Current</th>
        <th>Equity</th>
        <th>Gains</th>
    </tr>
    </tbody>
    @foreach (var pos in Model)
    {
        <tr>
            <td>@pos.Stock.Fullname (@pos.Stock.Ticker)</td>
            <td>@pos.Quantity</td>
            <td>@pos.TransactionType</td>
            <td>$@pos.StartPrice</td>
            <td>$@pos.CurrentPrice</td>
            <td><b>$@pos.Equity</b></td>
            <td><b style="@(pos.GainsPercent[0] == '+' ? "color: green" : "color: red")">@pos.Gains (@pos.GainsPercent%)</b></td>
        </tr>
    }
</table>