@model StockTradingSimulationWebClient.Models.NewPositionViewModel

@Html.AntiForgeryToken()

<div class="panel panel-info panel-body form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedStockId, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SelectedStockId, Model.Stocks, new { @class = "form-control", onchange = "updateEstimate()" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SelectedTransactionId, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SelectedTransactionId, Model.TransactionTypes, new { @class = "form-control" } )
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", onchange = "updateEstimate()", min = "0" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>
        
    <div class="form-group">
        <label class="control-label col-md-2">Estimate</label>
        <div class="col-md-10">
            <input disabled="disabled" class="form-control" id="EstimateText"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="BUY" class="btn btn-default"/>
        </div>
    </div>
</div>