@using StockTradingSimulationWebClient.Core
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trading Simulation</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-brand">Trading Simulation</div>
        @using (Html.BeginForm("ChangePort", "API"))
        {
            <table class="navbar-header" style="position: absolute; right: 0" align="center">
                <tr>
                    <td><input type="text" name="newPort" class="form-control" value=@ApiClient.Port /></td>
                    <td><input type="submit" value="Set" class="btn btn-default" /></td>
                </tr>
            </table>
        }
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jonas Ausevicius, IFF-4/2</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
