@using StockTradingSimulationWebClient.Core
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trading Simulation</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img alt="Home" src="@Url.Content("~/Content/forex.svg")" style="width: 30px"/>
                </a>
                @if (Request.IsAuthenticated)
                {
                    <div class="navbar-brand pull-right" id="sm-view">@Html.Partial("_UserInfo")</div>
                }
            </div>
            @if (Request.IsAuthenticated)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-brand" id="lg-view">@Html.Partial("_UserInfo")</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("History", "History", "Home")</li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li>@Html.ActionLink("Admin", "Admin", "Home")</li>
                        }
                        <li style="float: right">
                            <a href="@Url.Action("Index", "Logout")">
                                <span class="glyphicon glyphicon-log-out"></span>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="container body-content" style="font-family: VT323;font-size: 150%">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jonas Ausevicius, IFF-4/2</p>
            @using (Html.BeginForm("ChangePort", "Api"))
            {
                <table class="navbar-header" style="position: absolute; right: 0">
                    <tr>
                        <td><input type="text" name="newPort" class="" value=@ApiClient.Port /></td>
                        <td><input type="submit" value="Set" class="" /></td>
                    </tr>
                </table>
            }
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
<script>
    (function updateBalance() {
        if ('@Request.IsAuthenticated' === 'True') {
            $.ajax({
                url: "@Url.Action("GetBalance", "Home")",
                success: function(data) {
                    $('[id="balance-text"').each((i, ob) => $(ob).html(data));
                }
            });

            $.ajax({
                url: "@Url.Action("GetRealBalance", "Home")",
                success: function (data) {
                    $('[id="real-balance-text"').each((i, ob) => $(ob).html(data));
                }
            });
        }
        setTimeout(updateBalance, 10000);
    })();

    $(document).ready(function() {
        jQuery('input[type=submit').click(function() {
            var form = $(this).closest('form');

            if (!form.valid()) {
                form.addClass('ahashakeheartache');
                form.on('webkitAnimationEnd oanimationend msAnimationEnd animationend',
                    function() {
                        form.delay(200).removeClass('ahashakeheartache');
                    });
            }
        });
    });
</script>
</body>
</html>
